@{
    ViewData["Title"] = "Home Page";
}

<body class="turtle-background m-t-1">

    <h1 class="text-center watery-font lg-text sm-shadow text-water"  style="">Welcome To The Aquarium</h1>


</body>